# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve -l -H localhost`. If you change this file, please restart the 
# server process.

# Basic Site Settings
locale                   : "en-US"
site_theme               : "default" # The available themes options are "default", "air", "sunrise", "mint", "dirt" and "contrast"
title                    : "Junteng Liu"
title_separator          : "-"
name                     : "Junteng Liu"
description              : "First-year PhD candidate at HKUST NLP Group | NLP & ML Researcher"
url                      : "https://chengyuan251225-creator.github.io/LJT-Homepage"
baseurl                  : ""
repository               : "chengyuan251225-creator/LJT-Homepage"

# Site Author
author:
  avatar           : "profile.png"
  name             : "Junteng Liu"
  pronouns         : "he/him"
  bio              : "First-year PhD candidate at HKUST NLP Group. Research focuses on natural language processing and machine learning, particularly LLM reasoning, hallucination in VLMs, and LLM truthfulness."
  location         : "Hong Kong"
  employer         : "Hong Kong University of Science and Technology"
  uri              : "https://www.cse.ust.hk/people/phd/jliugi/"
  email            : "jliugi@connect.ust.hk"

  academia         : 
  arxiv            : "https://arxiv.org/search/?searchtype=all&query=Junteng+Liu&abstracts=show&order=-announced_date_first&size=50"
  googlescholar    : "https://scholar.google.com/citations?hl=en&user=tbK9jl4AAAAJ&view_op=list_works&sortby=pubdate"
  github           : "Vicent0205"
  twitter          : "junteng88716710"

publication_category:
  books:
    title: 'Books'
  manuscripts:
    title: 'Journal Articles'    
  conferences:
    title: 'Conference Papers'

collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji